<div class="container">
	<%= link_to "Sign up as Student/Parent", new_student_path, class: "btn btn-warning btn-lg" %>

	<%= link_to "Sign up as Tutor", new_tutor_path, class: "btn btn-warning btn-lg" %>
</div>